html {
  font-family: Verdana, sans-serif;
  background-image: url("../images/sloth-bg.svg");
  background-size: 48px auto;
  background-color: #bea586;
}

body,
a {
  color: #000;
  background-color: #fff;
}

.g-font {
  font-family: Georgia, serif;
}
